<h1>Be an esteemed host!</h1>
<p>Share great nuggets about your favorite neighborhood. Your testimonial will appear on the landing page of the neighborhood. You'll be the first to influence new visitors to the city!</p>
<%= render 'form' %>

<%= link_to 'Back', neighborhood_thoughts_path %>
