<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h1 class="modal-title" id="myModalLabel">Urban Recon<small> BETA</small></h4>
      </div>
      <div class="modal-body">

		<p>We are trying to make it easier for new families to figure out how to get plugged into the community! Thanks for taking this survey. It should take less than seven minutes.</p>
		<p>Think about how hard it was to find great programs for your kids. Now think about the great local businesses that you have come to love!</p>
		<p>Recommending them on the survey will really help them out-- through this survey, new residents will be really likely to take their kids where you recommend.</p>
		<!-- <p>Give 20 recommendations, get a $5 Starbucks card!</p> -->
		<!--<p>We're helping military families get settled around Charleston. Give at least 20 recommendations on practical stuff like date spots, hairdressers, the best apartments, and what to avoid. Track your points on the bottom right.</p> -->
		<!--<p>Get extra points by giving multiple recommendations per question.</p> -->
		<p>Questions with a star * are required. Your personal data will not be revealed. It's only used to organize survey responses so new families can easily find what they need .</p>
		<h4>-Rob Whelan, founder</h4>
		<!--<p>Soon after you're done, you'll get an email with a link to your $5 Starbucks card! Have fun!</p> -->
		<!--<p id='ios'><strong>iPhone / iPad users: you may experience an occasional delay when navigating the form. Sorry, it's a bug and we're working on it. Onward!</strong></p> -->
		
      </div><!-- /modal body -->
    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->