<div class="modal fade" id="emailCollectionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="modalTitle" class="modal-title">Like what you see of <%= neighborhood.name %>?</h3>
      </div>
      <div id="modalBody" class="modal-body">
			<p>On Womditty, locals and military families share info about the area you'll actually use.</p>
			<p>If you're not familiar with Charleston, wouldn't you want to know what it's like from people who live here every day? We're focused only on the towns and neighborhoods that are within driving distance to the bases in Charleston- like Joint Base Charleston and Nuclear Power School.</p>
			<p>Check out Womditty (Word of Mouth, Do it Yourself) now. It's FREE!</p>
      <div id="modalFooter" class="modal-footer">
			<%= link_to 'Sign up - it takes less than a minute!', posts_path, :class => 'btn btn-primary btn-lg btn-block' %>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
