		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="http://womditty.us3.list-manage.com/subscribe/post?u=e4d0f05e01b66f57d4b09c64b&amp;id=50ec604e99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="indicates-required"><span class="asterisk">*</span> required</div>
			<div class="form-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="form-control" placeholder="Enter email" id="mce-EMAIL">
			</div>
			<div class="form-group">
				<label for="mce-FNAME">First Name </label>
				<input type="text" value="" name="FNAME" class="form-control" placeholder="First name" id="mce-FNAME">
			</div>
			<div class="form-group">
				<label for="mce-LNAME">Last Name </label>
				<input type="text" value="" name="LNAME" class="form-control" placeholder="Last name" id="mce-LNAME">
			</div>
			<input type="checkbox" value="2" class="hidden" name="group[6837][2]" id="mce-group[6837]-6837-1" checked>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e4d0f05e01b66f57d4b09c64b_50ec604e99" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
			</form>
			</div>

			<!--End mc_embed_signup-->      </div>

