<div class="hero-unit">
  <h1>Pay it forward!</h1>
	<p>You know a lot about Charleston that would help other military spouses moving here. So why not share it? One day you'll get PCS'd somewhere and you'll want as much local knowledge as you can get.<p>
	<p>Be sure to <a href="https://www.facebook.com/womditty">like Womditty</a> to stay in touch!</p>
	<img width="200" src="http://robwhelan.info/img/Portrait-2012.jpg" class="img-polaroid"/><p><em>Rob Whelan, founder</em></p>
	<p>US Navy submariner, 2003-2008</p>
	<%= link_to 'Get started - make a post', posts_path, :class => 'btn btn-primary btn-large' %>
	<p><em>Womditty - Word of Mouth, Do It Yourself</em></p>
</div>