<div class="hero-unit">
  <h1>Make the most of your duty station.</h1>
  <p>You've got orders. And you've never heard of the place. Figure it out here from other military people.</p>
	<p>I made Womditty (word of mouth, do it yourself) to help military families make the most of their duty stations. When I got orders to the USS MAINE in Bangor, Washington, all I wanted to know was whether I could live in Seattle and still make it to the boat on time in the morning. But I couldn't figure it out-- not with Google Maps, Twitter, Facebook, or anything. I needed something like Womditty.</p>
	<p>Part of why you join (or married into) the military is to explore new places. So why not get the inside scoop from other military families? Womditty is for active duty, reserve, and civilian contractors. And it's free! Have a look around -- ask questions, post answers, comment on places you love.</p>
	<p>Launched in Charleston in summer 2013.</p>
	<img width="200" src="http://robwhelan.info/img/Portrait-2012.jpg" class="img-polaroid"/><h4><em>Rob Whelan, founder</em></h4>
	<%= link_to 'Get started - check out the map', pages_google_map_path, :class => 'btn btn-primary btn-large' %>
</div>