<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
 	var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var channel = pusher.subscribe('<%= @group.unique_identifier %>');
  channel.bind('new-post', function(data) {
	//alert(data.message);
	
	$('#chat').append(
	'<div class="row">' +
	'<div class="col-xs-2">' +
	'<img width=40 src=' + data.user_image + ' class="img-rounded" />' +
	'<p style="font-size:75%;">' + data.user_name + '</p>' +
	'</div>' +
	'<div class="col-xs-10">' +
	'<p>' + data.message + '</p>' +
	'</div>' +
	'</div>')
	});

</script>
<div id="chat"></div>