<div class='hero-unit text-center'>
<%= image_tag('Womditty_final_logo.png') %>
<h1>Coming soon!</h1>
<br/>
<p>We're hard at work making life easier and richer for military families. Send us your email so we can tell you when Womditty is ready to help!</p>
<br/>
<div id="form-area">
<%= form_tag("/wait_lists", method: "post", :class => "form-inline", :remote => true) do %>
  <fieldset>
	<%= text_field :wait_list, :email %>
	<%= submit_tag('Submit', :class => 'btn') %>
  </fieldset>
<% end %>
</div><!-- /form-area -->
</div><!-- /hero unit -->