<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='74191893-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<div class='hero-unit text-center'>
<%= image_tag('Womditty_final_logo.png') %>
<h1>Coming soon!</h1>
<br/>
<p>We're hard at work making life easier and richer for military families. Send us your email so we can tell you when Womditty is ready to help!</p>
<br/>
<div id="form-area">
<%= form_tag("/wait_lists", method: "post", :class => "form-inline") do %>
  <fieldset>
	<%= text_field :wait_list, :email %>
	<%= submit_tag('Submit', :class => 'btn') %>
  </fieldset>
<% end %>
</div><!-- /form-area -->
</div><!-- /hero unit -->