  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }

  </style>
  <script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAkmQDcP4u6gG5IULRLAiEjnfpE3vhYUOw&sensor=true">
  </script>
  <script type="text/javascript"
	src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble-compiled.js">
  </script>

<!-- initialize google map -->
  <script type="text/javascript">

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
<div>
    <div id="panel">
      <input id="searchBoxTarget" type="text" placeholder="Search Box">
    </div>
  	<div id="map-canvas" style="height:500px;"/></div>
</div>
<div id="tokenTag"><%= token_tag(nil) %></div>
<div id="currentUserID" style="display:none;"><%= current_user.id %></div>