<div>
<img src="http://static.panoramio.com/photos/large/28327060.jpg" width="1170" class="img-rounded img-responsive" />
  <h1>Charleston, South Carolina</h1>
	<p>Lucky you. You're moving here!</p>
	<p>Take a look around to learn about our neighborhoods.</p>
</div>

<%= render 'pages/marketing/teaserNeighborhoods' %>

<%= render 'pages/marketing/teaserPlaces' %>

<%= render 'pages/marketing/teaserList' %>