<div class="container">
<div class="jumbotron">
  <h2><%= @headline %></h2>
	<p><%= image_tag('robwhelan.jpg', :width => 150, :class => 'img-responsive') %> When I was a submariner, I moved six times in five years, to brand new cities. I wish I had insider knowledge to help get settled.</p>
	<p>I launched Womditty ('Word of Mouth, Do it Yourself') so we could help the thousands of sailors and airmen and their families moving to Charleston every year. Already there are <strong><%= @count %></strong> inbound folks on Womditty looking for advice.</p>
	<p>Just log in and share something about Charleston - your favorite things to do, the traffic, places to avoid, must-sees, pet stuff, kid stuff. Or one of your beautiful Charleston instagrams! Trust me, every little bit helps!</p>
	<p>Thanks! <em>Rob Whelan, founder</em></p>
  <p><a href="#signUp" class="btn btn-primary btn-lg" role="button">Sign Up Now</a></p>
</div><!-- jumbotron -->
<%= render 'shared/signup' %>
</div><!-- container -->