	  <!-- intro area -->	  
	  <div id="intro">
			<div class="intro-text">
				<div class="container">
					<div class="row">
					
						
					<div class="col-md-12">
			
						<div class="brand">
							<h1><a href="index.html">Urban Recon</a></h1>
							<div class="line-spacer"></div>
							<p><span>Crowdsourced Tips for New Residents</span></p>
						</div>
					</div>
					</div>
				</div>
		 	</div>
			
	 </div>
	  
	  <!-- About -->
	  <section id="about" class="home-section bg-white">
		<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Want to reach them at the peak of their interest?</h2>
					 <p>People make more than 50 new shopping habits when they move. They are most likely to follow the advice of trusted locals.</p>
					<p>Urban Recon is building a platform that gets tips and recommendations from locals, and organizes them for people new to the area, who are actively looking for business recommendations.</p>
					</div>
				  </div>
			  </div>
		</div><!-- /container -->
		</section><!-- /about -->
		
		  <!-- Services -->
		 <section id="howItWorks" class="home-section bg-white">
			<div class="container">
				  <div class="row">
					  <div class="col-md-offset-2 col-md-8">
						<div class="section-heading">
						 <h2>How it Works</h2>
						 <p>Your existing, happy customers have already recommended you. Now, folks moving here will see their recommendations and act, because all their spending habits are up for grabs once they get to a new city.</p>
						</div>
					  </div>
				  </div>
				  <div class="row">
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Locals Share</h4>
							<p>Consumers make at least 20 recommendations useful for anyone new to a city.</p>
							<img src='/assets/image_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.3s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Filtered by Demographics</h4>
							<p>Recommendation-seekers get tips from people just like them.</p>
							<img src='/assets/image_1_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.5s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Rise to the Top</h4>
							<p>Businesses with the biggest fan base rise to the top. And if you partner with Urban Recon, you'll have a prominent link to a bio.</p>
							<img src='/assets/image_2_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
				</div><!-- /row -->
			</div><!-- /container -->
			</section><!-- /services -->

			<!-- spacer -->	  
			<section id="spacer1" class="home-section spacer">	
	           <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="color-light">
							<h2 class="wow bounceInDown" data-wow-delay="1s">It's literally a first impression.</h2>
							<p class="lead wow bounceInUp" data-wow-delay="2s">Make it great with Urban Recon!</p>	
							</div>
						</div>				
					</div>
	            </div>
			</section>	  
			
			<section id="bio" class="home-section bg-white">
				<div class='container'>
				  <div class="row">
					  <div class="col-md-offset-2 col-md-8">
						<div class="section-heading">
						 <h2>Your Urban Recon Bio</h2>
						 <p>Get even more credibility when they are most impressionable by signing up for a bio. People are already recommending your business -- that's how you made the list. But with an Urban Recon bio you get your logo next to your business listing and a page full of important info for consumers.</p>
						</div>
					  </div>
				  </div>
				<div class='row'>
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.7s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Connect</h4>
							<p>Phone, email, or chat inside the app with with customers. Your address links to a map.</p>
							<img src='/assets/image_3_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.9s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Motivate</h4>
							<p>Put a coupon in your bio to make it impossible to pass up.</p>
							<img src='/assets/image_5_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
	                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-wow-delay="0.11s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<h4>Testimonials</h4>
							<p>Describe yourself then let your fans speak for you right on the same page!</p>
							<img src='/assets/image_6_mod.png' class='img-responsive img-thumbnail' />
						</div>
	                </div>
				  </div><!-- /row -->
			</div><!-- /container -->
		</section><!-- /bio -->
		
		
		  <div class="jumbotron">
		<section id="people" class="home-section bg-white">
			<div class='container'>
					<div class="box-team wow bounceInDown" data-wow-delay="0.1s">
	                    <div class="col-xs-12 col-lg-3">
							<img src="http://robwhelan.info/img/robwhelan2013-small.jpg" alt="" class="img-responsive img-thumbnail" />
	                    </div>
	                    <div class="col-xs-12 col-lg-6">
							<h4>Rob Whelan</h4>
	                    	<p>Founder</p>
							<p><em>We want moving to be less stressful. Knowing that you're there for new residents in a hectic time will make an enormous difference in loyalty and customer lifetime value.</em></p>
						</div>
					</div><!-- /box -->
		  </div><!-- /container -->	  
	  </section><!-- /people -->
  </div><!-- /jumbotron -->
	  
	  

	 <!-- Works -->
	<section id="works" class="home-section bg-gray">
			<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>We're a startup</h2>
					 <p>Partner now to take advantage of early bird pricing. We're getting this off the ground and we're making it really affordable.</p>
					<p>It's just <strong>$50 per month plus a one-time $1 charge when a customer engages with you for the first time.</strong> You'll have access to stats on usage and success-- for example, how many times your bio is viewed and when a consumer engages with you, including their demographics (but not their names).</p>
					<p>Setup takes just ten minutes.</p>
					</div>
				  </div>
			  </div>

	
		<!-- spacer 2 -->	  
		<section id="spacer2" class="home-section spacer">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="color-light">
						<h2 class="wow bounceInDown" data-wow-delay="1s">Contact us now</h2>
						</div>
					</div>				
				</div>
            </div>
		</section>	
	  
	 <!-- Contact -->
	  <section id="contact" class="home-section bg-white">
	  	<div class="container">
			  <div class="row">
				<div class="col-xs-3">
					<h1><span class="glyphicon glyphicon-envelope"></span> </h1>
					<h1><span class="glyphicon glyphicon-earphone"></span> </h1>
				</div>
				<div class="col-xs-9">
					<h1><a href='mailto:rob@urbanrecon.co'>rob@urbanrecon.co</a></h1>
					<h1>(843) 991-5656</h1>
					<p>Also, <a href='http://urbanrecon.co'>Take the survey</a> to see your business in the rankings.</p>
				</div>
			  </div>
	  	</div>
	  </section>  

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy;2014 Urban Recon. All rights reserved.</p>
				</div>
			</div>		
		</div>	
	</footer>
