     <li>
			<%= link_to pages_google_map_path do %>
				<span class='glyphicon glyphicon-map-marker'></span> Map
			<% end %>
	  </li>
      <li>
			<%= link_to photos_path do %>
				<span class='glyphicon glyphicon-camera'></span> Photos
			<% end %>
	  </li>
 