<div class="row">
	<div class="col-xs-3">
		<%= image_tag vendor.logo_image.url(:thumb), :class => 'img-responsive' %>
	</div>
	<div class="col-xs-9">
		<%= link_to vendor.business_name, vendor_path(vendor) %>
	</div>
</div>