<div class="jumbotron">
	<h1>How it works</h1>
	<p>Learn about neighborhoods from area experts and other military families.</p>
</div><!-- .jumbotron -->
	
<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Drive Times</h2>
          <p>How long will you need to sit in the car to get to the base? To the grocery store? Use our expert combination of calculated commute times and local knowledge from actual military families in the same situation as you.<p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>$-$$$</h2>
			<p>How pricey are the different neighborhoods? Figure out where you'll be comfortable and where you'll want to fit in.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Dogs, Kids, Bars...</h2>
			<p>What's the neighborhood like overall? Get detailed notes in easy-to-figure-out infographics. And hear from regular folks who already live there.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div><!-- /.container marketing -->