<div class="jumbotron">
	<h1>Find a place - temp and permanent</h1>
	<p>We help you find the best housing with basic stuff about price and location, but also real insight from real military families living here.</p>
</div><!-- .jumbotron -->
	
<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Temporary Housing</h2>
			<p>Doing some house hunting leave, or are you already in town looking for a place to cool your heels? Don't stay at a nasty hotel. We've lined up some awesome short-term stay folks who will make sure you spend less than your per diem.<p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Apartments</h2>
			<p>Well, it's close to base, AND it's cheap.... Hear from military families who already live there and they'll tell you the real story -- good and bad -- on these places. Also, we've lined up military-friendly apartments who can save you $$.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>House hunting?</h2>
			<p>Get a sense of which areas are doing the best and where you're most likely to realize a return during the time you're here. Get with people who can effortlessly navigate the VA loan process. Find a Womditty-approved realtor.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div><!-- /.container marketing -->