<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=117143105159557&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render 'surveys/menu/filter' %>

	<div class="container" style='margin-bottom:75px;'>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>

		<%= render 'surveys/results/resultsFamily' %>

	</div><!-- /container -->
	<div id='footer' class='container'>
		<nav class='nav navbar navbar-default navbar-fixed-bottom'>
			<div class='row' style='margin:0px;'>
	      		<!-- ><button id='funButton' class='btn btn-primary'>Fun</button> -->
	      		<!-- ><button id='familyButton' class='btn btn-default'>Kids Activities</button> -->
	      		<!-- <button id='communityButton' class='btn btn-default'>Community</button> -->
	      		<!-- <button id='practicalButton' class='btn btn-default'>Practical</button> -->
				<div style="margin:5px;" class="fb-share-button pull-right" data-href="http://www.urbanrecon.co" data-type="button_count"></div>
				<button style="margin:5px;" class="btn btn-success active pull-right" id="filterButton" role="button" data-toggle="modal" data-target="#filterMenu" href="#"><span class="glyphicon glyphicon-filter"></span> Filter</button>
				</div><!--/row -->
			</nav>
		</div><!-- /footer container -->


	<%= content_for :javascript do %>
		<script type="text/javascript">
		  $(document).ready(function() {
		    $('#submitButton').addClass('hidden');
		    $('#funButton').click(function(){
		      $('#funButton').addClass('btn-primary');
		      $('#familyButton,#communityButton,#practicalButton,#demographicsButton').addClass('btn-default').removeClass('btn-primary');
		      $('#categoryFun').addClass('show').removeClass('hidden');
		      $('#categoryFamily,#categoryCommunity,#categoryPractical,#categoryDemographics').addClass('hidden');
		    });
		    $('#familyButton').click(function(){
		      $('#familyButton').addClass('btn-primary');
		      $('#funButton,#communityButton,#practicalButton,#demographicsButton').addClass('btn-default').removeClass('btn-primary');
		      $('#categoryFamily').addClass('show').removeClass('hidden');
		      $('#categoryFun,#categoryCommunity,#categoryPractical,#categoryDemographics').addClass('hidden');
		    });
		    $('#communityButton').click(function(){
		      $('#communityButton').addClass('btn-primary');
		      $('#funButton,#familyButton,#practicalButton,#demographicsButton').addClass('btn-default').removeClass('btn-primary');
		      $('#categoryCommunity').addClass('show').removeClass('hidden');
		      $('#categoryFamily,#categoryFun,#categoryPractical,#categoryDemographics').addClass('hidden');
		    });
		    $('#practicalButton').click(function(){
		      $('#practicalButton').addClass('btn-primary');
		      $('#funButton,#communityButton,#communityButton,#demographicsButton').addClass('btn-default').removeClass('btn-primary');
		      $('#categoryPractical').addClass('show').removeClass('hidden');
		      $('#categoryFamily,#categoryCommunity,#categoryFun,#categoryDemographics').addClass('hidden');
		    });
		    $('#demographicsButton').click(function(){
		      $('#demographicsButton').addClass('btn-primary');
		      $('#funButton,#familyButton,#communityButton,#practicalButton').addClass('btn-default').removeClass('btn-primary');
		      $('#categoryDemographics,#submitButton').addClass('show').removeClass('hidden');
		      $('#categoryFamily,#categoryCommunity,#categoryPractical,#categoryFun').addClass('hidden');
		    });
		  });

		</script>
		<% end %>