<%= render 'surveys/survey_sections/intro' %>
	<div class="container">
		<h1>Urban Recon<small> BETA</small></h1>
	</div>
<%= render 'form' %>
<%= content_for :javascript do %>
	<script type='text/javascript'>
	$( document ).ready(function() {
		$('#introModal').modal();
	});
	</script>
	<% end %>