<div class="jumbotron">
	<div class="container">
		<h1>Urban Recon<small> BETA</small></h1>
		<p>Give 20 recommendations, get a $5 Starbucks card!</p>
		<p>We're helping military families get settled around Charleston. Give at least 20 recommendations on practical stuff like date spots, hairdressers, the best apartments, and what to avoid. Track your points on the bottom right.</p>
		<p>Get extra points by giving multiple recommendations per question.</p>
		<p>Questions with a star * are required. Your personal data will not be revealed. It is only used to segment survey responses.</p>
		<p>Soon after you're done, you'll get an email with a link to your $5 Starbucks card! Have fun!</p>
		<p id='ios'><strong>iPhone / iPad users: you may experience an occasional delay when navigating the form. Sorry, it's a bug and we're working on it. Onward!</strong></p>
		</div>
		</div>
<%= render 'form' %>