<div class="jumbotron">
	<div class="container">
		<h1>Urban Recon</h1>
		<p>The Ultimate Survey for Movers!</p>
		<p>Share what you know with military families moving to town! Give at least 15 recommendations on practical stuff like date spots, hairdressers, the best apartments, and what areas to avoid. Track your points along the way on the bottom right.</p>
		<p>Get extra points by giving multiple recommendations per question.</p>
		<p>Questions with a star * are required. Your personal data will not be revealed. It is only used to segment survey responses.</p>
		<p>Thank you and have fun!</p>
		<p id='ios'><strong>iPhone / iPad users: you may experience an occasional delay when navigating the form. Sorry, it's a bug and we're working on it. Onward!</strong></p>
		</div>
		</div>
<%= render 'form' %>