<p id="notice"><%= notice %></p>
<div class="jumbotron">
	<div class="container">
		<h1>All done. Thank you!</h1>
		<p>What's next?</p>
		<p>1. <%= link_to 'See the results', surveys_path %> by creating an account.</p>
		<p>2. Tell your Starbucks-loving friends! The more info we can get for military families, the better. Here's a link:</p>
			<form>
			<input class="form-control" type="text" value="http://www.urbanrecon.co" />
			</form>
		<p>3. We'll double check your survey and email you your hard-earned $5 Starbucks card. In the meantime, enjoy this:</p>
		<%= image_tag 'fox.jpg', :class => 'img-responsive' %>
		</div>
	</div>