<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=117143105159557&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<p id="notice"><%= notice %></p>
<div class="jumbotron">
	<div class="container">
		<h1>All done. Thank you!</h1>
		<p>What's next?</p>
		<p>1. <%= link_to 'See the results', surveys_path %>.</p>
		<p>2. Tell your friends! The more info we can get for families, the better. Here's a link:</p>
			<form>
			<input class="form-control" type="text" value="http://www.urbanrecon.co" />
			</form>
			<div class="fb-share-button" data-href="http://www.urbanrecon.co" data-type="button_count"></div>
		<p>3. In the meantime, enjoy this:</p>
		<%= image_tag 'fox.jpg', :class => 'img-responsive' %>
		</div>
	</div>