<div id="container">
<%= render @posts %>
</div>

<%= paginate @posts %>

</div><!-- /container -->

<% content_for :javascript do %>
<script type="text/javascript">
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  columnWidth: 200,
  itemSelector: '.masonryItem'
});

</script>
<% end %>