<div id="container">
<%= render @posts %>
</div>

<%= paginate @posts %>

</div><!-- /container -->

<% content_for :javascript do %>
<script type="text/javascript">
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  columnWidth: 200,
  itemSelector: '.masonryItem'
});

window.onload = function(){
	msnry.layout();
};

function readURL(input, element) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).html(
				'<img src=' +
					e.target.result +
				 	' width="35" />'
				)
        }

        reader.readAsDataURL(input.files[0]);
    }
}

</script>
<% end %>