<div class="jumbotron">
      <div class="container">
        <h1>Coming to Charleston?</h1>
        <p>Get acquainted with the different areas of town, and connect with residents who want to share their local knowledge.</p>
      </div><!-- /container -->
    </div><!-- jumbotron -->

<%= render 'google_map' %>

<br/>

<div class="container">
<div class="row">
    <% @neighborhoods.each do |neighborhood| %>

	<%= link_to neighborhood_path(neighborhood) do %>
	<div class="col-sm-6 col-md-4">
		<h2><%= neighborhood.name %></h2>
		<%= image_tag(neighborhood.love.url(:medium), :class => "img-responsive") %>
	</div><!-- /col-md-4 -->
	<% end %>
	<% end %>
</div><!-- /row -->	
</div><!-- /container -->