// Place all the styles related to the Neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 768px) {
    img.carousel-host {
		display:none;
    }
}

@media (max-width:991px) {
div.carousel-caption {
	bottom:-20px;
}
ol.carousel-indicators {
	display:none;
}
}

.carousel-caption a {
	color:#fff;
}

.img-responsive {
margin: 0 auto;
}