// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 992px) {
.masonryItem { width: 30%; }
}

@media (max-width: 992px) {
.masonryItem { width: 43%; }
}

@media (max-width: 768px) {
.masonryItem { width: 100%; }
}