<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @neighborhood_topic.name %>
</p>


<%= link_to 'Edit', edit_neighborhood_topic_path(@neighborhood_topic) %> |
<%= link_to 'Back', neighborhood_topics_path %>
