<div class="modal fade" id="aboutMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Womditty</h4>
      </div>
      <div class="modal-body">
			<p>Womditty (<em>Word of Mouth, Do It Yourself</em>) is an easy way to connect with people who you're switching cities with.</p>
			<p>If you live in Charleston and are moving to Norfolk, you should talk to someone who lives in Norfolk and is moving to Charleston. Womditty will make it happen.</p>
			<p>Speed up the learning curve for your new city by getting the most-important word on the street from those who know best: people like you who live where you're moving.</p>
			<p>Within minutes you'll connect with folks in the midst of a move, just like you.</p>
			<div class="row"><%= image_tag 'robwhelan.jpg', :class => 'img-responsive', :width => '250' %></div>
			<p>I started Womditty after moving six times in five years with the Navy, always feeling like I was scrambling! I hope you have an easier time. -Rob Whelan</p>
      </div><!-- /modal body -->
    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->