<div class="modal fade" id="aboutMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Urban Recon</h4>
      </div>
      <div class="modal-body">
			<p>Urban Recon makes it easier to move.</p>
			<p>It's a community full of recommendations for the dozens of new habits you make when you move, like which neighborhoods to avoid, where to get your nails done, and who to call to get your kid in karate.</p>
			<p>Get all that stuff out of the way faster so you can make it feel like home sooner.</p>
			<div class="row"><%= image_tag 'robwhelan.jpg', :class => 'img-responsive', :width => '250' %></div>
			<p>I started Urban Recon after moving six times in five years with the Navy, always feeling like I was scrambling! I hope you have an easier time. -Rob Whelan</p>
      </div><!-- /modal body -->
    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->