<div class="modal fade" id="attachmentMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Attach Something</h4>
      </div>
      <div id="modalBodyDiv" class="modal-body">
			<button id="myMapButton" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-map-marker"> Place</span></button>
      </div><!-- /modal body -->
      <div class="modal-footer">
      </div>    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->

<%= content_for :javascript do %>
	<script type="text/javascript">
		$('#myMapButton').click(function(){
			$('#modalBodyDiv').html("<%= j render 'layouts/map_query', :group => @group %>");
			$('input#query').focus();
			$('h4#myModalLabel').html("Search For a Place");
		});
	</script>
	<% end %>