<%= render 'layouts/channel_menu' %>

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="btn-group btn-group-lg btn-group-justified">
			<a class="btn btn-default" role="button" href="#">One</a>
			<a class="btn btn-default" role="button" href="#">Two</a>
			<a class="btn btn-default" role="button" data-toggle="modal" data-target="#channelMenu" href="#"><span class="glyphicon glyphicon-comment"></span></a>
			<a class="btn btn-default" role="button" href="#">Four</a>
			<a class="btn btn-default" role="button" href="#">Five</a>
		</div><!-- /btn group justified -->

    </nav>
	</div><!-- /footer -->
	
	
	
