<div class="modal fade" id="channelMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Change Forums</h4>
      </div>
      <div class="modal-body">
		<div id="myForums">
			<h4>Forums:</h4>
				<% Forum.all.each do |forum| %>
				<p><%= link_to forum.name, pages_fetch_groups_path(:forum => forum), :remote => true, :class => "btn btn-primary btn-lg btn-block active myForumsButton" %></p>
				<% end %>
				</div><!-- /myForums -->
				
		<div id="selectForum">
		</div><!-- /selectForum -->
      </div><!-- /modal body -->
	</div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->

<%= content_for :javascript do %>
	<script type="text/javascript">
		$('.myForumsButton,.myGroupsButton').click(function(){
			$('#myForums,#selectForum').html("");
			$('#myForums').html('<img src="/assets/spinning.gif" />');
		});
		$('#forumSubmit').click(function(){
			var city1 = $('#city1').val();
			var city2 = $('#city2').val();
			var url = '/pages/fetch_groups?city1=' + city1 + '&city2=' + city2;
			$.get( url );
			$('#myForums,#selectForum').html("");
			$('#myForums').html('<img src="/assets/spinning.gif" />');
		});

	//close the modal?
	</script>
	<% end %>