<div class="modal fade" id="channelMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pick a Channel</h4>
      </div>
      <div class="modal-body">
			<% @groups.each do |group| %>
				<%= link_to group.name, pages_chat_path(:group => group, :forum => group.forum), :class => "btn btn-primary btn-lg btn-block" %>
			<% end %>
      </div><!-- /modal body -->
    </div><!-- /modal content -->
  </div><!-- /modal dialog -->
</div><!-- /modal -->

<%= content_for :javascript do %>
	<script type="text/javascript">
	//close the modal?
	</script>
	<% end %>