<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<p style="margin:0;padding:0;"><%= @forum.name %></p>
		<h2 style="margin:0;padding:0;"><%= @group.name %></h2>
		</div><!-- /navbar-header -->
</nav>